.hypothesis
*.py[cod]
__pycache__/
*.egg-info
.mypy_cache
docs/build
docs/source/generated
build/
dist/
.idea/
log.*
log
logs
.pytest_cache/
.coverage
.coverage.*
coverage.xml
.DS_Store
*.sqlite
*.swp
*.swo
.cache/
.ipynb_checkpoints

# Custom for this repo
*.pid
*.out
*.jsonl
configs/